Package: zope-cps-3.5-test-dependencies
Version: 1.1-1
Depends: xml-core, xmllint|libxml2-utils, w3c-dtd-xhtml, sgml-base, sgml-data,
 default-jre-headless
Section: devel
Priority: optional
Architecture: all
Essential: no
Maintainer: Georges Racinet <gracinet@cps-cms.org> 
Homepage: http://trac.cps-cms.org
Description: Dependencies to run CPS unit and integration tests
