Package: opt-zope-cps-3.5
Version: %s-%s
Depends: opt-zope2.9|opt-zope2.10, zope-cps-full-dependencies
Section: web
Priority: optional
Architecture: all
Essential: no
Conflicts: opt-zope-cps-3.5-instance
Installed-Size: 68612
Maintainer: Georges Racinet <gracinet@cps-cms.org>
Homepage: http://cps-cms.org
Description: The standard set of CPS products
 This package installs CPS-Standard-x.y.z in /opt,
 a Zope/CPS instance creation utility (/opt/cps-x.y/bin/mkcpsinstance),
 and a testing instance in /var/opt.
 Use this convenience package at your own risk, no liability shall be accepted.
 See also http://www.racinet.fr/index.php?pages/Debian-packages
